@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #093145;
  font-size: 17px;
}

#app {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: large;
  border-bottom: 1px solid #093145;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .link-logo {
  justify-self: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .name {
  font-size: xx-large;
  font-weight: 500;
}

.navbar .link-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  justify-self: flex-end;
  gap: 10px;
}

.navbar .link-block .link {
  text-decoration: underline;
  -webkit-text-decoration-color: #fafafa;
          text-decoration-color: #fafafa;
  color: #093145;
}

.navbar .link-block .link:hover {
  -webkit-text-decoration-color: #093145;
          text-decoration-color: #093145;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.titles {
  text-align: center;
  font-weight: 300;
  font-size: x-large;
}

.home {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  gap: 20px;
}

.home .profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.home .jrg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #093145;
  padding: 15px;
  position: relative;
  width: auto;
  text-align: justify;
}

.home .jrg-container p {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.home .jrg-container::before, .home .jrg-container::after {
  content: "";
  position: absolute;
  background: #fafafa;
}

.home .jrg-container::before {
  width: calc(100% + 50px + 4px - 200px);
  height: calc(60%);
  top: -2px;
  right: -2px;
  z-index: 1;
}

.home .jrg-container::after {
  height: calc(60%);
  width: calc(100% + 50px + 4px - 200px);
  left: -2px;
  bottom: -2px;
  z-index: 1;
}

.home .home-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-bottom: 20px;
  border-bottom: 2px dotted #093145;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 40px;
      grid-template-areas: ". ." ". ." ". .";
}

.home .home-container :nth-child(odd) {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-container :nth-child(even) {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-container :nth-child(even)::before {
  content: "";
  position: absolute;
  background-color: #093145;
  width: 2px;
  height: 100%;
  bottom: 0;
  left: -20px;
}

.home .domaines-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  border-bottom: 2px dotted #093145;
}

.home .domaines-container .domaines-list {
  font-weight: 400;
  font-style: italic;
}

.home .domaines-container .domaines-list .domaine {
  list-style-type: disc;
}

.home .domaines-container .domaines-list :nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home .values-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 200;
  font-size: xx-large;
  gap: 20px;
  border-bottom: 2px dotted #093145;
  padding-bottom: 20px;
}

.home .values-container :nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.home .values-container :nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.home .values-container :nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.home .values-container :nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.home .values-container :nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.home .conviction {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bolder;
  font-size: large;
  font-style: italic;
  text-align: center;
}

.home .conviction::before {
  content: open-quote;
}

.home .conviction::after {
  content: close-quote;
}

.svg .svg-text {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.contact {
  margin-top: 20px;
}

.contact .contact-form {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.contact .contact-form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact .contact-form .form-row .contact-label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
  font-size: large;
}

.contact .contact-form .form-row .form-input {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border: 1px solid #dcdde1;
  border-radius: 2px;
  padding: 5px;
  background-color: #f8f8f8;
}

.contact .contact-form .form-row .form-input:hover {
  border-color: #093145;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact-form .form-row .form-input:required:valid {
  border: 1px solid #dcdde1;
}

.contact .contact-form .form-row .form-input:focus:required:invalid {
  border-color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-form .form-row .form-input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-form .form-row .form-textarea {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border: 1px solid #dcdde1;
  border-radius: 2px;
  padding: 5px;
  background-color: #f8f8f8;
  height: 220px;
}

.contact .contact-form .form-row .form-textarea:hover {
  border-color: #093145;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact-form .form-row .form-textarea:required:valid {
  border: 1px solid #dcdde1;
}

.contact .contact-form .form-row .form-textarea:focus:required:invalid {
  border-color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-form .form-row .form-textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .contact-form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.contact .contact-form .form-btn .btn {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  border: 1px solid #dcdde1;
  background-color: #f8f8f8;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}

.contact .contact-form .form-btn .btn:hover {
  cursor: pointer;
  border-color: #093145;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */